<div class="navigation-bar-white">

  <div id="main-back-button" class="d-flex align-items-center justify-content-center text-primary"><i class="fas fa-chevron-left"></i></div>


  <div class="dropleft">
    <button class="main-search-button dropdown-toggle border-0 d-flex justify-content-center align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
      <div id="main-search-button" class="d-flex align-items-center justify-content-center"><i class="fas fa-search"></i></div>
    </button>

    <div class="dropdown-menu search" aria-labelledby="dropdownMenuButton">
      <form action="/places">
        <input name='address' class="form-control rounded form-control-sm mb-1" id="addressInput" aria-describedby="emailHelp" placeholder="City">
        <input name='query' class="form-control rounded form-control-sm mb-1" id="genreInput" aria-describedby="emailHelp" placeholder="Genre">
        <input class="form-check-input" value="<%= params[:lat]%>" id="defaultCheck1" name="lat" hidden checked>
        <input class="form-check-input" value="<%= params[:lon]%>" id="defaultCheck1" name="lon" hidden checked>
        <div class="button-container d-flex justify-content-end">
        <button type="submit" class="btn btn-block btn-sm btn-primary align-items-end" id="address-button">Find</button>
        </div>
      </form>
    </div>
  </div>

  <div id="main-menu-button" class="main-menu-blue"><i class="fas fa-bars"></i></div>
</div>
<div class='navigation top ' id="main-menu-nav">
  <div id="main-menu-close"><i class="fas fa-times"></i></div>
  <div class="container" style="width: 100vw; height: 100vh;">
    <div class="row pt-4">
      <div class="col-4">
        <% if @user.photo.attached? %>
          <div class="user-pic" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
        <% else %>
          <div class="user-pic" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1Y7KMgh6-ISpd98CmqSKbiY0_xRFjwpiU0Q&usqp=CAU')"></div>
        <% end %>
      </div>
      <div class="col-8 user-info">
        <div class="user-name">
          <%= @user.email %>
        </div>
        <div class="edit">
          <%= link_to "Edit Profile", edit_user_registration_path %>
        </div>
        <div class="logout">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
      </div>
    </div>
    <div class='text-center'>
     <p class="fav"> Search with your Favorites! </p>
    </div>
    <div class="d-flex justify-content-center btn rounded pt-1" style="background-color: #1BD35D; color: white">
      Connect To Spotify
    </div>
    <div class="user-title mt-3">
      Favorites
    </div>
      <div class="overflow">
        <% @user.favorites.each do |favorite| %>
        <div>
          <%= link_to place_path(favorite), method: :get do %>
            <div class="user-card mb-2" style="background-color: #F0F0F0">
              <div class="row">
                <div class="col">
                  <div class="favorite-photos rounded" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path favorite.place.photos[0].key, crop: :fill %>')">
                  </div>
                </div>
                <div class="col pr-1">
                  <div class="row place-name">
                    <%= favorite.place.name %>
                  </div>
                  <div class="row place-address">
                    <%= favorite.place.address %>
                  </div>
                </div>
                <div class="col avg-rating">
                  <div class="row" style="width:100px">
                    <% favorite.place.average_rating.times do %>
                      <i id="stars" class="fas fa-star"></i>
                    <% end %>
                  </div>
                  <div class="row place-genre d-flex justify-content-center mr-1 genre-border">
                  <%= favorite.place.top_genre %>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
        <% end %>
      </div>
    <div class="user-title mt-3">
      My Places
    </div>
      <div class="overflow">
          <% @user.places.each do |place| %>
            <div>
              <%= link_to place_path(place), method: :get do %>
                <div class="user-card mb-2" style="background-color: #F0F0F0">
                  <div class="row">
                    <div class="col">
                      <div class="favorite-photos rounded" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path place.photos[0].key, crop: :fill %>')">
                      </div>
                    </div>
                    <div class="col pr-1">
                      <div class="row place-name">
                        <%= place.name %>
                      </div>
                      <div class="row place-address">
                        <%= place.address %>
                      </div>
                    </div>
                    <div class="col avg-rating">
                      <div class="row" style="width:100px">
                        <% place.average_rating.times do %>
                          <i id="stars" class="fas fa-star"></i>
                        <% end %>
                      </div>
                      <div class="row place-genre d-flex justify-content-center mr-1 genre-border">
                      <%= place.top_genre %>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          <% end %>
      </div>
    <div class="mt-3 mb-1">
      <p class='text-center pt-1 fav'>Are we missing your favorite place?</p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="add-venmu rounded"">
        <%= link_to "Add it on VenMu", new_place_path, style: "color:white"%> 
      </div>
    </div>
  </div>
</div>

