<div class="navigation-bar-white">

  <div id="main-back-button" class="d-flex align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>


  <div class="dropleft">
    <button class="main-search-button dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
      <div id="main-search-button" class="d-flex align-items-center justify-content-center"><i class="fas fa-search"></i></div>
    </button>

    <div class="dropdown-menu search" aria-labelledby="dropdownMenuButton">

      <%= simple_form_for :search, url: '/places', method: "GET" do |f| %>
        <%= f.input :address, required: true, label_html: { hidden: true }, input_html: {id: "address-bar"}, placeholder: "Address" %>
        <%= f.input :query, as: :select, :input_html => { :class => 'select2' }, collection: Genre.all, required: true, label_html: { hidden: true } %>
        <%= f.button :submit, "Find", class: 'btn btn-primary btn-block rounded shadow mt-5' %>
      <% end %>
    </div>
  </div>

  <div id="main-menu-button" class="main-menu-white"><i class="fas fa-bars"></i></div>
</div>
<div class='navigation top ' id="main-menu-nav">
  <div id="main-menu-close"><i class="fas fa-times"></i></div>
  <div class="container" style="width: 100vw; height: 100vh;">
      <div class="row pt-3">
        <div class="col-4">
          <div class="user-pic" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')">
          </div>
        </div>
        <div class="col-8 user-info">
          <div class="user-name">
            <%= @user.email %>
          </div>
          <div class="edit">
            <p> Edit Profile </p>
          </div>
        </div>
      </div>
      <div class='text-center pt-1'>
       <p class="fav"> Search with your Favorites! </p>
      </div>
      <div class="d-flex justify-content-center btn rounded pt-1" style="background-color: #1BD35D; color: white">
        Connect To Spotify
      </div>
      <div class="user-title">
        Favorites
      </div>
        <div class="overflow">
          <% @user.favorites.each do |favorite| %>
            <div class="card" style="background-color: #F0F0F0">
              <div class="row">
                <div class="col">
                  <div class="favorite-photos rounded" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path favorite.place.photos[0].key, crop: :fill %>')">
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <%= favorite.place.name %>
                  </div>
                  <div class="row">
                    <%= favorite.place.address %>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                  <%= favorite.place.average_rating %>
                  </div>
                  <div class="row">
                  <%= favorite.place.top_genre %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <div class="user-title">
        My Places
      </div>
        <div class="overflow">
          <div class="row card">
            <% @user.places.each do |place| %>
              <div class="card" style="background-color: #F0F0F0">
                <div class="row">
                  <div class="col">
                    <div class="favorite-photos rounded" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path place.photos[0].key, crop: :fill %>')">
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <%= place.name %>
                    </div>
                    <div class="row">
                      <%= place.address %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                    <%= place.average_rating %>
                    </div>
                    <div class="row">
                    <%= place.top_genre %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <div>
        <p class='text-center pt-1 fav'>Are we missing your favorite place?</p>
      </div>
      <div class="d-flex justify-content-center btn btn-primary rounded">
        Add it to Venmu!
      </div>
    </div>
</div>

