<div class="navigation-bar-white">
  <%= link_to places_path, method: :get do %>
    <div id="main-back-button" class="d-flex align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
  <% end %>
  <div id="main-menu-button" class="main-menu-white"><i class="fas fa-bars"></i></div>
</div>
<div class='navigation top ' id="main-menu-nav">
  <div id="main-menu-close"><i class="fas fa-times"></i></div>
  <div class="container" style="width: 100vw; height: 100vh;">
      <div class="row">
        <div class="col-4">
          <div class="profile pic" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
        </div>
        <div class="col-8">
          <%= @user.email %>
          <p> Edit Profile </p>
        </div>
      </div>
      <div class='text-center'>
       <p> Connect With Your Favorite Songs </p>
      </div>
      <div class="d-flex justify-content-center btn btn-primary rounded" style="background-color: #1BD35D">
        Connect To Spotify
      </div>
      <div>
        <p>Favorites</p>
      </div>
        <% @user.favorites.each do |favorite| %>
          <div class="card" style="background-color: #F0F0F0">
            <div class="row">
              <div class="col">
                <div class="favorite-photos" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= cl_image_path favorite.place.photos[0].key, crop: :fill %>')">
                </div>
              </div>
              <div class="col">
                <%= favorite.place.name %>
                <%= favorite.place.address %>
              </div>
              <div class="col">
                <%= favorite.place.average_rating %>
                <%= favorite.place.top_genre %>
              </div>
            </div>
          </div>
        <% end %>
      <div>
        <p>My Places</p>
      </div>
      <div class="row card">
        <div class="card" style="background-color: #F0F0F0">
          <div class="row">
            <div class="col">
             
            </div>
            <div class="col">
              
            </div>
            <div class="col">
              
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class='text-center'>Are we missing your favorite place?</p>
      </div>
      <div class="d-flex justify-content-center btn btn-primary rounded">
        Add it to Venmu!
      </div>
    </div>
</div>

