<div class="index-container">
  <!-- navbar -->
  <%= render 'shared/navbar_white' %>

  <div id="map" class="main-map"
    style="width: 100vw; height: 93vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="queryplaces-container">

    <!-- slide rectangle -->
    <div class="slide-rectangle"></div>

    <div class="container">
      <div class="places-query d-flex align-items-center">
        <h1 class="query-title"><%= @query ? @query.capitalize : "All places" %></h1>
      </div>
    </div>

    <!--category for query -->
    <div class="places-categories d-flex align-items-center">
      <div class="dropdown">
        <button class=" dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          <div class="ml-3 swiper-slide d-flex align-items-center justify-content-center" id="places-query-burger">
            <i class="fas fa-align-left"></i>
          </div>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <form action="/places">
            <% @categories.each do |category| %>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=" <%= category %> " name="categories[]">
                <label class="dropdown-item" for="defaultCheck1">
                  <%= category %>
                </label>
              </div>
            <% end %>
            <input class="form-check-input" value="<%= params[:query]%>" id="defaultCheck1" name="query" hidden checked>
            <div class="button-container d-flex justify-content-end">
              <button type="submit" class="btn btn-block btn-sm btn-primary align-items-end" id="category-button">Find</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Slider main container -->
      <div class="swiper-container s3 ">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper d-flex align-items-center">

          <% @categories.each do |category| %>
            <%= link_to places_path({category: category, query: params[:query]}), method: :get, class: "swiper-slide places-query-category", style: "width: unset" do %>
              <div class="" > <%= category %> </div>
            <% end %>
          <% end %>

        </div>
        <!-- If we need pagination -->
      </div>
    </div>

    <!-- places -->
    <div class="container">
      <div class="index-places border-bottom">
        <span class="index-places-genre mb-1"> Top <%= @query ? @query : "best" %> places </span>
      </div>

      <div class="places-cards">

        <!-- Slider main container -->
        <div class="swiper-container s4 ">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">

            <% @places.each do |place| %>
                <%= link_to place_path(place), method: :get, class: "swiper-slide no-underline" do %>
                <div class="places-card d-flex align-items-end justify-content-start" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('<%= cl_image_path place.photos[0].key %>')">

                  <!--average rating of place -->
                  <div class="place-card-rating">
                    <p class="">
                    <% place.average_rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    </p>
                  </div>

                  <div class="places-card-info">
                    <h4> <%= place.name.capitalize %> </h4>
                    <p> <%= place.top_genre.capitalize %> </p>
                  </div>


                </div>
                <% end %>
            <% end %>


          </div>
          <!-- If we need pagination -->
        </div>

      </div>
    </div>


  </div>
</div>
