<%= render 'shared/media-overlay' %>
<div class="show-container">
  <% if current_user %>
    <%= render 'shared/navbar_white' %>
  <% else %>
    <%= render 'shared/navbar' %>
  <% end %>
  <div class="show-main" style="background-image: url('<%= cl_image_path @place.photos[0].key %>')">
  </div>

  <div class="place-container container">

    <!-- slide rectangle -->
    <div class="slide-rectangle"></div>

    <div class="place-info border-bottom">

      <!--average rating of place -->
      <div class="place-rating">
        <p class="">
        <% @place.average_rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        </p>
      </div>

      <h1 id="show-title"> <%= @place.name.titleize %> </h1>
      <p id="show-address"> <%= @place.address %> </p>
      <p id="show-url"> <%= @place.category %> </p>

      <!-- top genre tag -->
      <div class="top-tag d-flex align-items-center">
        <p class="top-tag-genre"> <%= @place.top_genre %> </p>
      </div>

      <!-- favorite button -->
      <% if @user %>
        <% if @place.isfavorite(@user) %>
          <div class="favorite-button pressed d-flex align-items-center justify-content-center">
            <i class="fas fa-heart"></i>
          </div>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Added to your favorites!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% else %>
          <%= simple_form_for [@place, @favorite] do |f| %>
          <button type="submit" class="favorite-button unpressed d-flex align-items-center justify-content-center">
            <i class="fas fa-heart"></i>
          </button>
          <% end %>
        <% end %>
      <% else %>
      <%= simple_form_for [@place, @favorite] do |f| %>
        <button type="submit" class="favorite-button unpressed d-flex align-items-center justify-content-center">
          <i class="fas fa-heart"></i>
        </button>
        <% end %>
      <% end %>

      <!-- Slider main container -->
      <div class="swiper-container s1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <% @place.photos.each do |photo| %>
            <div class="swiper-slide show-photo" style="background-image: url('<%= cl_image_path photo.key, height: 800, width: 800, crop: :thumb, gravity: :face %>')"></div>
          <% end %>
        </div>
        <!-- If we need pagination -->
      </div>
    </div>

    <div class="show-description border-bottom d-flex align-items-center">
      <%= @place.description %>
    </div>

    <!-- Reviews -->
    <div class="show-reviews border-bottom">
      <!-- Add review button -->
      <div type="button" class="review-button" data-toggle="modal" data-target="#review-modal">
        Add a review <i class="fas fa-plus"></i>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content d-flex justify-content-center mx-0" id="review-modal-content">
            <div class="modal-body review-body d-flex justify-content-center">
              <button type="button" id="btn-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= simple_form_for [@place, @review] do |f| %>
                <%= f.input :genres, as: :select, :input_html => { :id => 'review-multiselect', :multiple => true },collection: Genre.all %>
                <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {class: 'star_rating' } %>
                <%= f.input :content %>
            </div>
            <div class="modal-footer d-flex justify-content-center" id="review-modal-footer">
              <%= f.submit class: "btn btn-primary btn-sm rounded"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <p id="reviews-title">Reviews</p>
      <% if @place.reviews %>

      <!-- Slider main container -->
        <div class="swiper-container s2">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <% @place.reviews.each do |review| %>
            <div class="swiper-slide">
              <div class="reviews-card">
                <p class="review-user"> <%= review.user.email  %> </p>
                <div class="reviews-info d-flex align-items-end">
                  <p class="review-content"> <%= review.content %> </p>
                </div>
                <p class="review-rating ">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </p>
                <div class="tags-container d-flex align-items-center">
                  <% if review.genres_reviews %>
                    <% review.genres_reviews.each do |genre_review|%>
                      <div class="tag d-flex align-items-center">
                        <p class="tag-genre"> <%= genre_review.genre.name.capitalize %> </p>
                      </div>
                    <% end %>
                  <% else %>
                  <span>no reviews yet</span>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="review-content">No reviews yet</p>
      <% end %>
    </div>
  </div>
</div>

